html
{
 margin:0;
 padding:0;
 background:#fff; 
}

body 
{
 margin:0;
 padding:0;
}

h1{}

h2 
{
	text-align:center;
	vertical-align:top;
	height:100px;
	width:800px;
	margin: 0 auto;
	margin-left:8px;
	color:#fff;
	background:#000 url("../Images/side.jpg") repeat-x fixed bottom;
	border:solid 1px #ccc;
	border-bottom:groove 4px #808080;
	background-attachment:scroll;
}

.left{float:left;}
.right{float:right;}
.btn { background:transparent url("images/side.png") repeat-x; }

#pagecontainer ul { list-style-type: none; }
#pagecontainer li { display: block; }



















.masterpageheader
{
	width:80%;
	height:25px;
	vertical-align:bottom;
	margin: 0 auto;
	margin-top:8px;
	text-align:center;
}

.pagecontainer
{
	width:800px;
	margin: 10px auto;
	border: solid 1px #00f;
}

.container
{
	margin:0;
	padding:0;
}

.container h3
{
	margin:0;
	padding:0;
	color:#00f;
}

.firstRow,#firstRow
{
	margin: 10px 0 10px 0;
	border:solid 1px #000;
}

.secondRow,#secondRow
{
	margin: 10px 0 10px 0;
	border:solid 1px #000;
}

.dvTwitter
{
float:left;
    text-align:center;
	background-color:#222;
	border:solid 1px #f00;
}

.dvImageRec
{
float:right;
    text-align:center;
	background-color:#444;
	border:solid 1px #f00;
}

.dvIphone
{
/*float:left;*/
    text-align:center;
	background-color:#666;
	border:solid 1px #f00;
}

#tblPic
{
 vertical-align:bottom;
}


.greentitle
{
	border:0;
	width:760px; 
	height:300px; 
	background:#000 url("../Images/green.jpg") no-repeat fixed top;
}
